.direnv
.envrc
.clj-kondo
.lsp
.nrepl-port
.cpcache

/day-02-yorick/yorick/
/day-02-yoix/yoix/
/day-05-qbasic/qb64/
/day-06-falcon/Falcon-0.9.6.8/
/day-07-wisp/wisp/
/day-11-haskell/*.o
/day-11-haskell/*.hi
/day-11-haskell/sol1
/day-11-haskell/sol2
/day-13-v/sol1
/day-13-v/sol2
